{% extends 'hotel/index.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">About Us</h1>
    <div class="container mt-4">
        <img src="{% static 'imgs/hotel.jpg' %}" alt="Hotel_Image" style="width:100%;height: 450px;">
   
    <p class="mt-4 text-center">This 4-storied hotel is a beautiful combination of traditional grandeur and modern facilities. The 255 exclusive guest rooms are furnished with a range of modern amenities such as television and internet access. International direct-dial phone and safe are also available in any of these rooms.You will immediately sense its special intimate atmosphere that makes you feel like being in your own florentine home.  Each detail has been passionately chosen and each room deserves a visit. 
    </p>
</div>
{% endblock content %}