{% extends 'hotel/index.html' %}
{% block content %}
    <h1 class="text-center mb-4">My Bookings</h1>
    {% if not bookings %}
    <div class="card mb-4">
        <div class="card-body">
        <h5 class="card-title">You have no bookings yet!</h5>
        </div>
    </div>
    {% else %}
    <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Booking Number</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for i in bookings %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.booking_no }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.mobile_no }}</td>
            <td>{{ i.status }}</td>
            <td>
              <a href="{% url 'booking-detail' i.id%}" class="btn btn-success mr-2">View</a>
              <a href="{% url 'booking-update' i.id%}" class="btn btn-primary mr-2">Update</a>
              <a href="{% url 'booking-delete' i.id%}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <div class="text-center">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a href="?page=1" class="btn btn-outline-info">First</a>
          <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
            <a href="?page={{ page_obj.number }}" class="btn btn-info">{{ num }}</a>
          {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
            <a href="?page={{ num }}" class="btn btn-outline-info">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info">Last</a>
        {% endif %}
      {% endif %}
    </div>
{% endblock content %}