{% extends 'hotel/index.html' %}
{% load crispy_forms_tags %}
{% block forms %}
    <h2 class="text-center my-2">Password Reset Form</h2>
    <div class="card py-2 px-4 mb-2">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom pb-2">Fill In Your Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-success">Reset</button>
            </div>
        </form>
    </div>
{% endblock forms %}